In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("./backend/acquisitions.csv")

In [6]:
vc = df["ParentCompany"].value_counts()

In [7]:
vc.to_dict()

{'Google': 215,
 'Microsoft': 210,
 'IBM': 162,
 'Yahoo': 114,
 'Apple': 95,
 'Facebook': 67,
 'Twitter': 53}

In [9]:
df["ParentCompany"].value_counts().index.to_list()

['Google', 'Microsoft', 'IBM', 'Yahoo', 'Apple', 'Facebook', 'Twitter']

In [31]:
x = []
for i in list(df["ParentCompany"].value_counts().values):
    x.append(int(i))
x

[215, 210, 162, 114, 95, 67, 53]

In [6]:
import pandas as pd
df = pd.read_csv("./backend/acquisitions.csv")
df.head()

,AcquisitionID,AcquisitionMonth,AcquisitionMonthDate,AcquisitionYear,Company,Business,Country,Value (USD),Derived products,ParentCompany
0,ACQ99,November,11.0,2015,bebop,Cloud software,USA,380000000.0,Google Cloud Platform,Google
1,ACQ98,November,11.0,2015,Fly Labs,Video editing,USA,NaN,Google Photos,Google
2,ACQ97,December,8.0,2015,Clearleap,Cloud-based video management,USA,NaN,NaN,IBM
3,ACQ96,December,18.0,2015,Metanautix,Big Data Analytics,USA,NaN,NaN,Microsoft
4,ACQ95,December,21.0,2015,"Talko, Inc.",Mobile communications,USA,NaN,NaN,Microsoft

In [16]:
clean_df = df[["AcquisitionMonth",
    "AcquisitionMonthDate", 
    "AcquisitionYear", "Business", 
    "Country"]]
clean_df

,AcquisitionMonth,AcquisitionMonthDate,AcquisitionYear,Business,Country
0,November,11.0,2015,Cloud software,USA
1,November,11.0,2015,Video editing,USA
2,December,8.0,2015,Cloud-based video management,USA
3,December,18.0,2015,Big Data Analytics,USA
4,December,21.0,2015,Mobile communications,USA
...,...,...,...,...,...
911,November,6.0,2015,Object-based storage software,USA
912,November,9.0,2015,Data protection,ISR
913,October,11.0,2017,Podcasts,USA
914,May,18.0,2018,Conversational AI,USA
915,June,4.0,2018,Version Control Hosting,USA

```sql
CREATE TABLE Acquisition (
    acquisitionmonth VARCHAR,
    acquisitionmonthdate DEC,
    acquisitionyear INT,
    business VARCHAR,
    country VARCHAR
);

```

In [17]:
from sqlalchemy import create_engine
engine = create_engine('postgres://postgres:2d9c92d9c9@localhost:5432/project2')

engine.table_names()

['acquisition']

In [25]:
clean_df.columns = clean_df.columns.str.lower()

In [26]:
clean_df.to_sql('acquisition', engine, if_exists='append', index=False)